.loading{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000ad;
    display: flex;
    z-index: 10000;
    align-items: center;
}
.loading-container {
    width: 20%;
    margin: 0px 45%;
}
.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    padding: 6px;
    margin: 10px;
}

.dot1{
    background-color: #46BC5C;
    animation: jump-up 0.6s 0.1s linear infinite;
}

.dot2{
    background-color: #46BC5C;

    animation: jump-up 0.6s 0.2s linear infinite;
}

.dot3{
    background-color: #46BC5C;

    animation: jump-up 0.6s 0.3s linear infinite;
}

@keyframes jump-up{
    50%{
        transform: translate(0,15px);
    }
}